<a href="https://colab.research.google.com/github/Lanaanvar/PYTHON/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#basic arithmetic operations
a=int(input("enter a number "))
b=int(input("enter another number "))
ab_sum=a+b
print(ab_sum)

ab_diff=a-b
print(ab_diff)

ab_pdt=a*b
print(ab_pdt)

ab_dvd=a/b
print(ab_dvd)

ab_iquo=a//b
print(ab_iquo)

ab_rem=a%b
print(ab_rem)

ab_exp=a**b
print(ab_exp)

enter a number 8
enter another number 9
17
-1
72
0.8888888888888888
0
8
134217728

In [ ]:
#Area and perimeter of a triangle

a=int(input("side 1"))
b=int(input("side 2"))
c=int(input("side 3"))
peri=a+b+c
print("the perim of the triangle is",peri)

side 112
side 212
side 312
the perim of the triangle is 36

In [ ]:
#avg and sum of 2 numbers
a=int(input("first number"))
b=int(input("second number"))
sum=a+b
average=sum/2
print("the sum and average is ", sum," and ", average)

first no.30
second number27
the sum and average is  57  and  28.5

In [ ]:
#area and perimeter of circle
r=int(input("radius "))
pi=3.14
area=pi*r**2
perimeter=2*pi*r
print("the area is", area)
print("the perimeter is ", perimeter)

radius 5
the area is 78.5
the perimeter is  31.400000000000002

In [ ]:
#area and perimeter of triangle
a=int(input("side 1 "))
b=int(input("side 2 "))
c=int(input("side 3 "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**1/2
perimeter=a+b+c
print("the area and perimeter is ", area," and ", perimeter)

side 1 23
side 2 45
side 3 56
the area and perimeter is  123318.0  and  124

In [ ]:
#display quotient and remainder
a=int(input("first number "))
b=int(input("second number "))
Q=int(a/b)
R=a%b
print("the quotient is ",Q)
print("the remainder is ",R)

first number 15
second number 4
the quotient is  3
the remainder is  3

In [ ]:
#convert no. of days to years, months and days
a=int(input("enter no. of days "))
Y=int(a//364)
M=int((a-(Y*364))//30)
D=int(a-((Y*364)+(M*30)))
print(a, " no. of days is equal to ", Y, " years, ", M, " months and ", D, " days respectively" )

enter no. of days 3655
3655  no. of days is equal to  10  years,  0  months and  15  days respectively

In [ ]:
#to check palindrome number
a=int(input("enter a number "))
t=a
s=0
while a>0:
  R=a%10
  s=s*10+R
  a=a//10
if s==t:
  print("the number is palindrome")
else:
  print("the number is not palindrome")

enter a number 1221
the number is palindrome

In [ ]:
#armstrong number
a=int(input("enter a number "))
t=a
s=0
c=len(str(a))
while a>0:
  r=a%10
  s=s+(r**c)
  a=a//10
if s==t:
  print("the number is an armstrong number")
else:
  print("the number is not an armstrong number")

enter a number 92726
the number is not an armstrong number

In [ ]:
#convert no. of secs to hours, minutes and secs
t=int(input("enter seconds "))
H=t//3600
M=(t-(H*3600))//60
S=((t-(H*3600))-(M*60))
print("hours = ", H, " minutes = ",M, " seconds = ",S)

enter seconds 3600
hours =  1  minutes =  0  seconds =  0

In [ ]:
#print first n odd numbers
n=int(input("enter no. of terms "))
for i in range(1, 2*n+1, 2):
   print(i)

enter no. of terms 10
1
3
5
7
9
11
13
15
17
19

In [ ]:
#factorial of a number
n=int(input("enter a number"))
F=1
r=1
while r<=n:
  F=F*r
  r=r+1
print(F)

enter a number17
355687428096000

In [ ]:
#reverse of a number
n=int(input("enter a number "))
s=0
while n>0:
  digit=n%10
  s=s*10+digit
  n=n//10
print(s)

enter a number 23647
74632

In [ ]:
#to check if a no. is two digit number
n=int(input("enter a number"))
if n>10 and n<100:
  print("its a 2 digit number")
else:
  print("its not two digit number")

enter a number54
its a 2 digit number

In [ ]:
#to check if a number is multiple of another number
x=int(input("enter first number "))
y=int(input("enter second number  "))
if x%y==0:
  print(y, " is a multiple of ",x)
else:
  print(y, " is not a multiple of ",x)

enter first number 123
enter second number  6
6  is not a multiple of  123

In [ ]:
#greatest of two numbers
x=int(input("enter first number "))
y=int(input("enter second number "))
if x>y:
  print(x," is greater than ",y)
else:
  print(y," is greater than ",x)

enter first number 0
enter second number -4
0  is greater than  -4

In [ ]:
#nature of roots of quadratic equation
a=int(input("enter first coefficient "))
b=int(input("enter second coefficient "))
c=int(input("enter constant "))
d=b**2-(4*a*c)
if d>0:
  print("the roots are real")
elif d==0:
  print("the roots are equal")
else:
  print("the roots are complex")

In [ ]:
#distance in a number line
x=int(input("first integer "))
y=int(input("second integer "))
if x>y:
  d=x-y
  print("the distance is ",d)
else:
  d=y-x
  print("the distance is ",d)

first integer -2
second integer 10
the distance is  12

In [ ]:
#print n numbers
num=int(input("enter number of terms "))
n=1
while n<=num:
  print(n)
  n=n+1

enter number of terms 9
1
2
3
4
5
6
7
8
9

In [ ]:
#smallest of three numbers
a=int(input("first number "))
b=int(input("second number "))
c=int(input("third number "))
if a < b and a < c :
    s = a
elif b < c :
    s = b
else :
    s = c
print(s, "is the smallest of the numbers.")

first number 67856
second number 23
third number 2
2 is the smallest of the numbers.

In [ ]:
#sum of factors
num=int(input("enter number "))
n=1
sum=0
while n<num:
  if num%n==0:
    sum=sum+n
    n=n+1
  else:
    n=n+1
print(sum)

enter number 20
22

In [ ]:
#the number is + or- or 0
num=int(input("enter number "))
if num>0:
  print("the number is positive")
elif num<0:
  print("the number is negative")
else:
  print("the number is zero")

enter number 120936478
the number is positive

In [ ]:
#fibonacci series
n=int(input("enter no. of terms "))
x=0
y=1
z=1
for i in range(1,n+1):
  print(x)
  x=y
  y=z
  z=x+y

enter no. of terms 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#GCD of two numbers
a=int(input("enter first number "))
b=int(input("enter second number "))
if a>b:
  smaller=b
else:
  smaller=a
for i in range(1,smaller+1):
  if a%i==0 and b%i==0:
    hcf=i
print(hcf)

enter first number 30
enter second number 15
15

In [ ]:
#to check if a number is automorphic
num=int(input("enter number "))
square=num**2
last_digit=num%10
sqr_digit=square%10
if last_digit==sqr_digit:
  print("the number is automorphic")
else:
  print("the number is not automorphic")

enter number 13
the number is not automorphic

In [ ]:
#to find sum of series
n=int(input("no. of terms = "))
s=0
i=0
while i<=n:
  r=i**2
  if i%2==0:
    s=s-r
  else:
    s=s+r
  i=i+1     
print(s)

no. of terms = 4
-10

In [ ]:
#power of a number
x=int(input("enter base "))
n=int(input("enter power "))
i=1
for j in range(1,n+1):
  i=i*x
print("the answer is ", i)

enter base 2
enter power 10
the answer is  1024

In [ ]:
#smallest of digits 
n=int(input("enter a number "))
smallest=9
while n>0:
  r=n%10
  if smallest>r:
    smallest=r
  n=n//10
print("the smallest digit is ",smallest)

enter a number 65890
the smallest digit is  0

In [ ]:
#sum of first n natural numbers
n=int(input("enter no. of terms "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("the sum is ",sum)

enter no. of terms 10
the sum is  55

In [ ]:
#to check if a number is prime
n=int(input("enter a number "))
f=0
for i in range(2, (n//2)+1):
  r=n%i
  if r==0:
    f=f+1
    break
if f==0:
  print("the number is prime")
else:
  print("the number is not prime")

enter a number 450
the number is not prime

In [ ]:
#interchanging values of two variables without third variable
x=int(input("enter first number "))
y=int(input("enter second number "))
x=x+y
y=x-y
x=x-y
print("the value of x is",x)
print("the value of y is ",y)

enter first number 54
enter second number 89
the value of x is 89
the value of y is  54

In [ ]:
#n terms of an AP
a=int(input("enter first term "))
b=int(input("enter common difference "))
c=int(input("enter no. of terms "))
for j in range(1,c+1):
  print(a)
  a=a+b

enter first term 2
enter common difference 2
enter no. of terms 10
2
4
6
8
10
12
14
16
18
20

In [ ]:
#decimal equivalent of binary number
n=int(input("enter binary number "))
sum=0
x=0
while n>0:
  digit=n%10
  sum=sum+digit*(2**x)
  x=x+1
  n=n//10
print(sum)

enter binary number 1110011
115